@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-[#f1f4f1] rounded-md text-sm text-gray-800
    hover:ring-2 hover:ring-gray-400 focus:outline-none
    active:ring-green-500 hover:shadow-lg w-36 h-10
    transition-shadow;
  }
}
